<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About</h1>
            <p>The Cure for "Dinner How?" Syndrome</p>
        </div>

        <div class="about-container">
            <img src="/images/salami.jpg" alt="Picture of a pizza slice">
            <p>
Welcome to DinnerHow.com your ultimate escape from the daily "What should we eat?" conundrum! Designed for busy Singaporean couples, this playful yet practical website solves the most pressing question of modern life: “What’s for dinner tonight?” We get it. After a long day of meetings, deadlines, and traffic jams, the last thing your brain wants is to debate over Korean BBQ or chicken rice for the umpteenth time. That's where DinnerHow.com swoops in. Think of it as your culinary fairy godmother – effortlessly suggesting Dinner ideas tailored to your cravings, diet composition and location. Say goodbye to the cognitive overload and hello to delicious, stress-free evenings. Your taste buds (and tired brain) will thank you!</p>
            <br>
            <a href="/">Home</a>
        </div>

    </main>
</body>
</html>