<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About</h1>
            <p>A short message from me</p>
        </div>

        <div class="about-container">
            <img src="/images/chinese_dinner.jpg" alt="Picture of dinner">
            <p>Welcome to DinnerHow, the space where you can share your dinner thoughts, preferences, and desires with your partner/s and watch us recommend the perfect cuisine to satiate both your demands!</p>
            <br>
            <a href="/">Read dinner preferences!</a>
        </div>

    </main>
</body>
</html>