<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Analytics (optional) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WJXZ0LZV6L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WJXZ0LZV6L');
    </script>
</head>
<body>
    <main class="container">
        <%- include('../partials/navbar'); %>

        <!-- Create a New Post Form -->
        <div class="welcome-container">
            <h1>Submit Dinner Preferences</h1>
        </div>

        <div class="create-post-container">
            <form method="post" action="/new">
                <fieldset>
                  <label>
                    Name
                    <input name="name" placeholder="Who are you?" required/>
                  </label>
                </fieldset>

                <fieldset>
                    <label>
                        Cuisine
                        <select name="cuisine" required>
                            <option value="Italian">Italian</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Indian">Indian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="French">French</option>
                            <option value="Mediterranean">Mediterranean</option>
                        </select>
                    </label>
                </fieldset>

                <fieldset>
                    <label>
                        Dinner Time
                        <select name="dinner_time" required>
                            <option value="No need for dinner">No need for dinner</option>
                            <option value="6:00 PM">6:00 PM</option>
                            <option value="6:30 PM">6:30 PM</option>
                            <option value="7:00 PM">7:00 PM</option>
                            <option value="7:30 PM">7:30 PM</option>
                            <option value="8:00 PM">8:00 PM</option>
                            <option value="8:30 PM">8:30 PM</option>
                            <option value="9:00 PM">9:00 PM</option>
                        </select>
                    </label>
                </fieldset>

                <fieldset>
                    <label>
                        Dinner Mood
                        <select name="dinner_mood" required>
                            <option value="Anything for dinner">Anything for dinner</option>
                            <option value="I would prefer to disregard other opinions">I would prefer to to disregard other opinions</option>
                        </select>
                    </label>
                </fieldset>
  
                <input type="submit" value="🚀 Submit Dinner Preferences" />
            </form>
        </div>

        <div class="cancel-create-post">
          <a href="/">Cancel! Take me back home!</a>
        </div>
    </main>
</body>
</html>
